<div class="page-header">
  <h1>Todos los Comercios</h1>
</div>

<%= link_to "Crear nuevo comercio", new_merchant_path, class: "btn btn-default navbar-btn" %>

<% @merchants.each do |merchant| %>
  <div class="">
    
    <strong><%= merchant.name %> </strong>
        
    <div class="meta">
      <%= link_to time_ago_in_words(merchant.created_at) + " ago", merchant %>|
      
      <span class="admin">
        <%= link_to "Edit", edit_merchant_path(merchant) %> |
        <%= link_to "Delete", merchant, method: :delete, data: { confirm: "Are you sure you want to delete this merchant?"} %>
      </span>

    </div>
  </div>
<% end %>