<div class="page-header">
  <h1>Creditos otorgados</h1>
</div>

<%= link_to 'Otorgar credito', new_credit_path, class: "btn btn-default navbar-btn" %> 

<% @credits.each do |credit| %>
  <div class="">
    
    <%= credit.amount %> 
    <%= credit.user_id %> 
      
      <span class="admin">
        <%= link_to "Edit", edit_credit_path(credit) %> |
        <%= link_to "Delete", credit, method: :delete, data: { confirm: "Are you sure you want to delete this credit?"} %>
      </span>

    </div>
  </div>
<% end %>




