<!DOCTYPE html>
<html>
<head>
  <title>Monedero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		<div class="navbar-inner">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			    </button>

			    <a class="navbar-brand" href="#">Monedero</a>
			    <p class="navbar-text navbar-right"><%= link_to "Statuses", statuses_path %></p>
			   
			</div>
			<div class = "navbar-header pull-right">

				<% if user_signed_in? %> 
				
			    	<p><%= link_to current_user.full_name, edit_user_registration_path %></p>
			    	<p><%= link_to "Cerrar Sesion", logout_path %></p>

				<% else %>
					<p class="navbar-text"><%= link_to "Registrarte", register_path %></p>
					<p class="navbar-text"><%= link_to "Iniciar Sesion", login_path %></p>
				<% end %>
			</div>
		</div>

	</nav>


    
  </div>



	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>" >
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= message %>
			</div>

		<% end %>

		<%= yield %>
	</div>
</body>
</html>
